oid_section             = new_oids

#string_mask = utf8only

[ new_oids ]

# RFC 3920 section 5.1.1 defines this OID

xmppAddr = 1.3.6.1.5.5.7.8.5

[ req ]

default_bits            = 1024
default_keyfile         = node2.key
distinguished_name      = distinguished_name
req_extensions          = v3_extensions
x509_extensions         = v3_extensions
extensions              = v3_extensions

# don't ask about the DN
prompt = no

[ distinguished_name ]

countryName                     = GB
stateOrProvinceName             = England
localityName                    = Cambridge
organizationName                = node2 org
commonName                      = localhost2

[ v3_extensions ]

subjectAltName                  = @subject_alternative_name

[ subject_alternative_name ]

DNS.0                             = michał
#otherName.0                       = xmppAddr;UTF8: