%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{hosts, "[\"localhost\",
          \"anonymous.localhost\",
          \"example.com\",
          \"no.search.ldap\",
          \"limited.search.ldap\"]"}.
{outgoing_s2s_port, 5279}.
{host_config,
"{host_config, \"anonymous.localhost\", [
  {auth_method, anonymous},
  {allow_multiple_connections, true},
  {anonymous_protocol, both}
]}.
{host_config, \"example.com\", [
  {auth_method, ldap},
  {ldap_servers, [\"localhost\"]},
  {ldap_base, \"dc=example,dc=com\"},
  {ldap_filter, \"(!(uid=claire))\"},
  {ldap_dn_filter, {\"(cn=%s)\", [\"displayName\"]}},
  {ldap_local_filter, [
    {equal, {\"description\", [\"active\"]}},
    {notequal, {\"shadowFlag\", [\"0\"]}}
  ]}
]}.
{host_config, \"no.search.ldap\", [
  {auth_method, ldap},
  {ldap_servers, [\"localhost\"]},
  {ldap_base, \"dc=example,dc=com\"}
]}.
{host_config, \"limited.search.ldap\", [
  {auth_method, ldap},
  {ldap_servers, [\"localhost\"]},
  {ldap_base, \"dc=example,dc=com\"}
]}.
"}.
{module_host_config, "
{host_config, \"example.com\",
 [{ {add, modules},
   [
    {mod_vcard_ldap, [{search, true},
                      {matches, 20},
                      {allow_return_all, true},
                      {search_all_hosts, true},
                      {ldap_base, \"dc=example,dc=com\"},
                      {ldap_filter, \"(!(uid=claire))\"},
                      {ldap_vcard_map,
     [{\"NICKNAME\", \"%u\", []}, % just use user's part of JID as his nickname
      {\"FN\", \"%s, %s\", [\"sn\", \"givenName\"]}, % example: \"Smith, John\"
      {\"GIVEN\", \"%s\", [\"givenName\"]},
      {\"MIDDLE\", \"%s\", [\"initials\"]},
      {\"FAMILY\", \"%s\", [\"sn\"]},
      {\"EMAIL\", \"%s\", [\"mail\"]},
      {\"JABBERID\", \"%u@%d\", []},
      {\"CTRY\", \"%s\", [\"c\"]},
      {\"LOCALITY\", \"%s\", [\"l\"]},
      {\"STREET\", \"%s\", [\"street\"]},
      {\"REGION\", \"%s\", [\"st\"]},
      {\"PCODE\", \"%s\", [\"postalCode\"]},
      {\"TITLE\", \"%s\", [\"title\"]},
      {\"ORGNAME\", \"%s\", [\"o\"]},
      {\"ORGUNIT\", \"%s\", [\"ou\"]},
      {\"URL\", \"%s\", [\"labeledURI\"]},
      {\"DESC\", \"%s\", [\"description\"]},
      {\"TEL\", \"%s\", [\"telephoneNumber\"]},
      {\"ROLE\", \"%s\", [\"employeeType\"]},
      {\"PHOTO\", \"%s\", [\"jpegPhoto\"]}
     ]
                      }
                     ]}
   ]}
]}.

%% Allow auth for jids @no.search.ldap but no search
{host_config, \"no.search.ldap\",
 [{ {add, modules},
   [
    {mod_vcard_ldap, [{search, false},
                      {ldap_base, \"dc=example,dc=com\"}
                     ]}]}
]}.

%% Allow auth and search for jids @limited.search.ldap but not other domains,
%% don't return all users when search fields empty, limit to 2 results
{host_config, \"limited.search.ldap\",
 [{ {add, modules},
   [
    {mod_vcard_ldap, [{host, \"directory.@HOST@\"},
                      {search, true},
                      {matches, 1},
                      {ldap_base, \"dc=example,dc=com\"}
                     ]}]}
]}.
"}.
{outgoing_s2s_port, 5279}.
{odbc_server, "{odbc_server, {mysql, \"localhost\", \"ejabberd\", \"ejabberd\", \"%ODBC_PASSWORD%\"}}."}.
{s2s_addr, "{ {s2s_addr, \"localhost2\"}, {127,0,0,1} }."}.
{s2s_default_policy, allow}.
{node_name, "ejabberd@localhost"}.
{ejabberd_c2s_port, 5222}.
{ejabberd_s2s_in_port, 5269}.
{tls_config, "{certfile, \"/tmp/node1.pem\"}, starttls,"}.
{s2s_addr,
"{ {s2s_addr, \"localhost2\"}, {127,0,0,1} }.
{ {s2s_addr, \"michał\"}, {127,0,0,1} }.
{ {s2s_addr, \"domain.not.in.cert\"}, {127,0,0,1} }."}.


{listen_no_tls,
 ",{5224, ejabberd_c2s, [{access, c2s}]}"}.
{listen_starttls_optional,
 ",{5225, ejabberd_c2s, [{access, c2s},
                         {certfile, \"/tmp/node1.pem\"},
                         starttls]}"}.
{listen_starttls_required,
 ",{5226, ejabberd_c2s, [{access, c2s},
                         {certfile, \"/tmp/node1.pem\"},
                         starttls_required]}"}.

{s2s_tls, "{s2s_use_starttls, required_trusted}."}.
{domain_certfile, "{domain_certfile, \"/tmp/node1.pem\"}."}.
{cacertfile, "{cacertfile, \"/tmp/ca.pem\"}."}.
