%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{hosts, "[ \"localhost2\", \"michał\"]"}.
{outgoing_s2s_port, 5269}.
{odbc_server, ""}.
{s2s_default_policy, allow}.
{node_name, "ejabberd2@localhost"}.
{ejabberd_c2s_port, 5232}.
{ejabberd_s2s_in_port, 5279}.
{mod_snmp, ""}.
{s2s_tls,
"{s2s_use_starttls,required_trusted}.
{s2s_certfile, \"/tmp/localhost2.pem\"}."
}.
{cacertfile, "{cacertfile, \"/tmp/ca.crt\"}."}.
