%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{hosts, "[\"localhost\", \"anonymous.localhost\", \"example.com\"]"}.
{outgoing_s2s_port, 5279}.
{host_config,
"{host_config, \"anonymous.localhost\", [
  {auth_method, anonymous},
  {allow_multiple_connections, true},
  {anonymous_protocol, both}
]}.
{host_config, \"example.com\", [
  {auth_method, ldap},
  {ldap_servers, [\"localhost\"]},
  {ldap_base, \"dc=example,dc=com\"},
  {ldap_filter, \"(!(uid=claire))\"},
  {ldap_dn_filter, {\"(cn=%s)\", [\"displayName\"]}},
  {ldap_local_filter, [
    {equal, {\"description\", [\"active\"]}},
    {notequal, {\"shadowFlag\", [\"0\"]}}
  ]}
]}.
"}.
{module_host_config, "
{host_config, \"example.com\",
 [{ {add, modules},
   [
    {mod_vcard_ldap, [{search, true},
                      {matches, 20},
                      {allow_return_all, true},
                      {search_all_hosts, true},
                      {ldap_base, \"dc=example,dc=com\"},
                      {ldap_filter, \"(!(uid=claire))\"},
                      {ldap_dn_filter, {\"(cn=%s)\", [\"displayName\"]}},
                      {ldap_local_filter,
                       [
                        {equal, {\"description\", [\"active\"]}},
                        {notequal, {\"shadowFlag\", [\"0\"]}}
                       ]},
                      {ldap_vcard_map,
     [{\"NICKNAME\", \"%u\", []}, % just use user's part of JID as his nickname
      {\"FN\", \"%s, %s\", [\"sn\", \"givenName\"]}, % example: \"Smith, John\"
      {\"GIVEN\", \"%s\", [\"givenName\"]},
      {\"MIDDLE\", \"%s\", [\"otherNames\"]},
      {\"FAMILY\", \"%s\", [\"sn\"]},
      {\"EMAIL\", \"%s\", [\"mail\"]},
      {\"JABBERID\", \"%u@%d\", []},
      {\"CTRY\", \"%s\", [\"c\"]},
      {\"LOCALITY\", \"%s\", [\"l\"]},
      {\"STREET\", \"%s\", [\"street\"]},
      {\"REGION\", \"%s\", [\"state\"]},
      {\"PCODE\", \"%s\", [\"postalCode\"]},
      {\"TITLE\", \"%s\", [\"title\"]},
      {\"URL\", \"%s\", [\"uri\"]},
      {\"DESC\", \"%s\", [\"description\"]},
      {\"TEL\", \"%s\", [\"telephoneNumber\"]},
      {\"BDAY\", \"%s\", [\"birthDay\"]},
      {\"ROLE\", \"%s\", [\"employeeType\"]},
      {\"PHOTO\", \"%s\", [\"jpegPhoto\"]}]
     ]
                      }
                     ]}
   ]}
]}.
"}.
{outgoing_s2s_port, 5279}.
{odbc_server, "{odbc_server, {mysql, \"localhost\", \"ejabberd\", \"ejabberd\", \"password\"}}."}.
{s2s_addr, "{ {s2s_addr, \"localhost2\"}, {127,0,0,1} }."}.
{s2s_default_policy, allow}.
{node_name, "ejabberd@localhost"}.
{ejabberd_c2s_port, 5222}.
{ejabberd_s2s_in_port, 5269}.
{tls_config, "{certfile, \"/tmp/server.pem\"}, starttls,"}.
{ {s2s_addr, "localhost2"}, {127,0,0,1} }.
{ {s2s_addr, "michał"}, {127,0,0,1} }.
